@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to JD's Entertainment Agency</h1>
    <p>In this website you will find only the BEST entertainers in the nation!</p>
    <p>Please navigate to this <a asp-controller="Home" asp-action="DataList">page</a> if you would like to see the list of entertainers, or you can select the button in the top bar of the page!</p>
    
</div>
